.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  color: black;
}

.link {
  color: rgb(2, 2, 2);
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  transition: transform 0.9s ease-in-out, color 0.4s ease-out;
  position: relative;
}

.link {
  color: rgb(8, 8, 8);
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  transition: transform 0.9s ease-in-out, color 0.4s ease-out;
  position: relative;
  margin-left: 15px;
}

.link:hover {
  transform: scale(1.2);
}

.link.active {
  color: rgb(9, 18, 133);
}

.link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 255);
  border-radius: 50%;
}
