.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding: 20px;
  width: 250px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.inputWrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  width: 100%;
}

.label {
  font-weight: 600;
  font-size: 16px;
}
.input {
  width: 100%;
  height: 30px;
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid;
}
.input:focus-within {
  border: 2px solid blue;
  outline: none;
}
.error {
  color: red;
  font-size: 12px;
}
.button {
  align-self: center;
}
